<div class="container-md">
    <div class="row mt-5">
        <div class="col">
            <h2 class="" style="text-align: center;">Create a new blog</h2>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col col-md-6">
            <div class="form-input">
                <form method="POST" action="/blog/store" class="mt-5">
                    <div class="form-group">
                        <label for="" class="form-label">Name</label>
                        <input type="text" class="form-control rounded-0" name="name" id="name-blog" aria-describedby="helpId" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="" class="form-label mt-4">Description</label>
                        <input type="text" class="form-control rounded-0" name="description" id="description" aria-describedby="helpId" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="" class="form-label mt-4">Image(URL)</label>
                        <input type="text" class="form-control rounded-0" name="image" id="image-url" aria-describedby="helpId" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="" class="form-label mt-4"><b>Content</b></label>
                        <textarea class="p-3" name="content" id="content" cols="90" rows="10"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary d-block mt-4">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>